.selected {
  z-index: 999999;
}

.selected > .ui-resizable-se {
  background-color:#ccc;
}

html, body {
  background-color: #efefef;
}

*, html, body, input, select {
  font-family: Sans-serif;
}

.container {
  position: relative;
}

.pad {
  border-radius: 2px;
  padding: 10px;
  border: 1px solid #aaa;
  left: 100px;
  top: 100px;
  position: absolute;
  height: 270px;
  background-color: #ffffff;
  box-shadow: 7px 7px 2px #ddd;
}
.pad.selected {
  border: 1px solid #333;
}
.pad .edit {
  display: none;
}
.pad.selected .edit {
  display: block;
}
.pad .show {
  display: block;
}
.pad.selected .show {
  display: none;
}

.pad .destroy {
  float: right;
  text-decoration: none;
  display: none;
}
.selected .destroy {
  display: block;
}

.plus {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 4em;
  padding: 5px;
  background-color: #ddd;
  color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 1em;
}

.crc-card h1, .crc-card .title-input {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #ffffff;
  display: block;
  height: 44px;
  line-height: 44px;
  color: #333;
  margin-bottom: 10px;
}
.crc-card select, .crc-card input, .crc-card h2 {
  width: 260px;
}
.crc-card .title-input {
  width: 300px;
}

.crc-card h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  color: #cccccc;
}

.crc-card .title-input {
  border-color: #ccc;
}

.responsibilities, .collaborators {
  width: 270px;
}

.crc-card .responsibilities, .crc-card .collaborators {
  float: left;
}

.crc-card .edit-button, .crc-card .view-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: #dddddd;
  color: #ffffff;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

.crc-card .collaborators select {
  display: block;
}

.crc-card p, .crc-card input, .crc-card select {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  border: 1px solid #ffffff;
  display: block;
  height: 30px;
  margin-top: 7px;
}
.crc-card p {
  border-width: 3px;
}
.crc-card input, .crc-card select {
  border-color: #ccc;
}


.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  display: block;
  font-size: 0.1px;
  position: absolute;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-se {
  bottom: 1px;
  cursor: se-resize;
  height: 12px;
  right: 1px;
  width: 12px;
}
.ui-resizable-handle {
  opacity:0.5;
}
.ui-resizable-se {
  bottom:0;
  right:0;
  width:48px;
  height:48px;
}